<h1>User#show</h1>
<p>Find me in app/views/user/show.html.erb</p>
<% if current_user.admin? %>
  <p>You are signed in as: <b><%= current_user.email %></b> Admin</p>
<% end %>

<p>You are in the show page for: <b><%= @user.email %></b></p>
