<h1>underscore index</h1>

<% if false %>

  <% @galleries.each do |gallery| %>
    <% unless gallery.categories_images.empty?  %>
      <tr>
        <td><%= gallery.title %></td>
        <td><%= link_to image_tag(gallery.categories_images.first.file_url), gallery %></td>
        <td><%= link_to "Edit", edit_gallery_path(gallery), remote: true, class: "btn btn-default" %></td>
        <td><%# link_to "Delete", gallery_delete_path(gallery), remote: true, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
