@import 'color';

body#categories.index #page-content-wrapper div.row {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
ul#categories-list {
  width: 400px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background:#fff;
  li {
    display:flex;
    background:#fff;
    border:#fff;
    justify-content:space-between;


  }
}
#category-delete {
  background:$red;
}
