@import 'color';

body#galleries div#page-content-wrapper div.row div.image {
	width: auto;
	height: 200px;
	margin: .5vw;
  img {
    height: 200px;
    width: auto;
  }


	input.placeholder {
		width:300px;
		height: 200px;
		background:$blue;
		color:white;
		font-size:25px;



	}


}
