@import 'color';

body#galleries {
	#gallery_category_ids {
		width: 450px;
	}
}


body#galleries div#page-content-wrapper div.row div.image {
	width: auto;
	height: 200px;
	margin: 0.5vw;

	img {
		height: 200px;
		width: 300px;
	}

	button.placeholder {
		width: 300px;
		height: 200px;
		background: $astral-blue;
		border: $shake-spear-blue;
		color: white;
		font-size: 25px;

		&:hover {
			font-style: bold;
			background:#3A88C4;
		}
	}

	.image-placeholder {
		width: 300px;
		height: 200px;
		background: $astral-blue;
		border: $shake-spear-blue;
		color: white;
		font-size: 15px;
		i {
			padding: 10px;
		}
		p {
			padding-right: 10px;
			padding-left: 20px;
			margin-bottom: 5px;
		}

		&:hover {
			background:#3A88C4;
		}
	}
}
/* Centers Gallery New Page Form */
body#galleries.new div#gallery-form.row {
	display: flex;
	justify-content: center;
}
