@import 'color';
body#images.new {
	#image_category_ids {
		width: 450px;
	}
}

div.image-show {
	display: flex;
	justify-content:center;
}

body#images.index div.overlay i {
	font-size: 15px;
}

div.modal-header {
	width: 100%;

	h3 {
		display: flex;
		justify-content: center;
		background: transparent;
		padding: 10px;
		margin: 0;
		width: auto;
		color: $astral-blue;
	}
}
form#new_image.simple_form.new_image, .simple_form.edit_image {
	width: 100%;
}
div.image-category-form-group {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

div.fileinput.fileinput-exists {
	background:transparent;
	span.btn.btn-primary.btn-file {
		margin-right:5px;
	}
	a.btn.btn-default.fileinput-exists {
		margin-left: 5px;
	}
}

div.fileinput.fileinput-new {
	background:transparent;
}



div.image_select_buttons {
	display: flex;
	justify-content: center;

}

.fileinput {
	background:transparent;
	display: flex;
	flex-flow: column;
	//justify-content: center;
	margin-left: 20px;
}


div.fileinput-preview.thumbnail {
	align-self: center;
}

div.image-category {
	width: 300px;
	display: flex;
	flex-flow: row;
	justify-content: center;
}
div#image_category_ids_chosen.chosen-container.chosen-container-multi {
	margin-left: 20px;
	margin-right: 20px;
	width: 275px;
}

div#image_category_ids_chosen.chosen-container.chosen-container-multi.chosen-with-drop.chosen-container-active {
	height: 26px;
}

.add-cancel-buttons {
	background:transparent;
	display: flex;
	justify-content: center;
}
