#accounts,
#categories,
#images,
#registrations,
#users,
body#galleries {
	@media all and (max-width: 400px) {
		//background: orange;
		h1 {
			font-size: 25px;
		}
	}
}

header > nav > div > div.navbar-collapse.collapse.in > ul.nav.navbar-nav.navbar-right {
	@media all and (max-width: 750px) {
		justify-content: space-around;
		align-items: flex-start;
		display: flex;
		button {
			margin: 5px;
		}
		div.btn-group.open > ul {
			min-width: 0;
			margin-left: -20px;
		}
	}
}
