@import 'color';

body#visitors.index {
    div#page-content-wrapper {
      //background:white;
      background: url('library.jpg') center center fixed no-repeat;
      background-size: 100% ;
      //overflow: hidden;
      position: absolute;
      top: 50px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      overflow: hidden;

    }

}
/*#flex-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100%;
}




*/
