<li class="list-group-item justify-content-between">
	<%= link_to category.name, category_path(category)  %>
<span class="button-groupyiness">
	<span class="delete">
		<%= link_to category, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
	<button id="category-delete" class="btn btn-xs">Delete!</button>
	<% end %>
	</span>
	<span class="edit">
		<%= link_to edit_category_path(category), remote: true do %>
		<button class="btn btn-xs">Edit</button>
		<% end %>
	</span>
</span>
</li>
