<div id="categories-index-form-and-list">
<div class="box one">
	<h1 ><%= current_user.name %>'s Categories</h1>
</div>

	<div class="box two">
		<div id="category-form" style="display:none;"></div>
	</div>
	<div class="box three">
		<ul class="list-group" id="categories-list"><%= render @categories %></ul>
	</div>
	<div class="box four">
		<%= link_to new_user_category_path, remote: true do %>
		<button class="btn btn-info">New Category</button>
		<% end %>
	</div>
</div>
