<h1>Category: <%= @category.name %></h1>
<div class="category-box">

	<div class="category-image-box">
		<h4>Category Images</h4><br>
		<div class="row">
			<%= render "categories/image" %>
		</div>
	</div>

	<div class="category-gallery-box">
		<h4>Galleries with Category</h4><br>
		<% @category.galleries.each do |g| %>
		<ul>
			<li><%= link_to g.title, g %></li>
		</ul>
		<% end %>
	</div>

</div>
