<div class="modal-dialog">
    <div class="modal-content">
        <div id="image-form" class="row modal-body">
            <div class="modal-header">
                <h3>New image</h3>
            </div>
            <%= render "form" %>
        </div>
    </div>
</div>
