<h1><%= current_user.name %>'s Images</h1>
<div class="row">
	<%= link_to "new image", new_user_image_path, remote: true, class: "btn btn-primary" %>
</div>
<div class="row image-index" id="images-list">
	<%= render @images %>
</div>
