<div class="image-show-wrapper">
	<div class="image-show">

		<%= image_tag(@image.file_url(:show_fit).to_s) %>

	</div>
</div>


<div id="category-list">
	<%= simple_form_for @image, remote: true do |f| %>

		<%= f.collection_check_boxes :category_ids,  current_user.categories.all, :id, :name, {}, { multiple: true } %>
		<%= f.button :submit, "Add" %><br>
	<% end %>

</div>
