<div class="image-show-wrapper">
	<div class="button-row">
	  <button class="btn btn-primary" href="#right-menu-toggle"  id="right-menu-toggle">Image Categories</button>
	</div>

	<div class="image-show">
		<%= image_tag(@image.file_url(:show_fit).to_s) %>
	</div>
</div>
<!-- Right Side Toggle for image Categories  -->
<% content_for :images_categories_toggle do %>
	<div id="right-sidebar-wrapper">
		<div id="category-list">
			<%= simple_form_for @image, remote: true do |f| %>

				<%= f.collection_check_boxes :category_ids,  current_user.categories.all, :id, :name, {}, { multiple: true } %>
				<%= f.button :submit, "Add" %><br>
			<% end %>
		</div>
	</div>
<% end %>

<script>
$("#right-menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("right-toggled");
});
</script>
