<% if user_signed_in? %>
  <div class="btn-group">
    <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% if user_signed_in? %>

        <li><%= icon('user-o') %><%= link_to 'User Settings', edit_user_registration_path %></li>
      <% end %>


        <li><a href="#">are</a></li>
        <li><a href="#">cool</a></li>


        <li><a href="#">First</a></li>
        <li><a href="#">First</a></li>
        <li><a href="#">First</a></li>
        <li><a href="#">First</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">First</a></li>

    </ul>

  </div>
<% end %>
